<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- We want a different log file for each script -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>script</key>
            <defaultValue>emailscript.log</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${script}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${script}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

                    <!-- keep 30 days' worth of history -->
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d [%thread] %level %logger{35} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Uncomment this if you want to some or all logs to go to something like solr -->
   <appender name="LOGGER" class="org.emailscript.helpers.IndexAppender" level="WARN">
        <url>http://localhost:8983/solr/logs</url>
        <level>WARN</level>
   </appender>

    <logger name="uk.co.bigbeeconsultants.http" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="SIFT" />
        <appender-ref ref="STDOUT" />
        <!-- Uncomment this as well if you want to send logs out to something like solr -->
        <appender-ref ref="LOGGER" />
    </root>

</configuration>